/* global declarations*/
* {
padding: 0;
margin: 0;
box-sizing: border-box;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: rgb(0, 0, 0);
}

body {
    background-image: url('./coding_quiz_background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: #ffffff;

}

header {
    padding: 20px;
    justify-content: space-between;
    display: grid;
    place-items: top;
    position: absolute;
}

main {
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;

}

.hide {
    display: none;
}

.quiz-complete, .highscores {
    display : none;
}